<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentorApp"
        tools:targetApi="31">
        <activity
            android:name=".mentor.AddResources"
            android:exported="false" />
        <activity
            android:name=".mentee.ViewSessions"
            android:exported="false" />
        <activity
            android:name=".mentor.SessionsPlan"
            android:exported="false" />
        <activity
            android:name=".mentor.MyMenteesActivity"
            android:exported="false" />
        <activity
            android:name=".mentee.MyMentorsActivity"
            android:exported="false" />
        <activity
            android:name=".AcceptConnectionRequests"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AddSkillsActivity" />
        <activity android:name=".AdminControlPanel" />
        <activity android:name=".CommunityManagerDashboard" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".mentee.MenteeViewProfileActivity" />
        <activity android:name=".mentee.ViewMenteesActivity" />
        <activity android:name=".mentee.ViewResourcesActivity" />
        <activity android:name=".MenteesDashboardActivity" />
        <activity android:name=".mentor.MentorViewProfile" />
        <activity android:name=".mentor.ReviewProgressActivity" />
        <activity android:name=".mentor.ViewReportsActivity" />
        <activity android:name=".SubmitProgressActivity" />
        <activity android:name=".ViewFeedbackActivity" />
        <activity android:name=".ViewMentorsActivity" />
    </application>

</manifest>